$font-family-base = 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif

$background-color = #f1f4f9
$primary-color    = #40b883
$secondary-color  = #435b71

$low-color = #f26722
$average-color = #f2b822
$strong-color = #1ed699

$timingFunction = cubic-bezier(0.565, 1.65, 0.765, 0.88)
